node_modules/

.vitepress/dist/
config/.vitepress/dist/
docs/.vitepress/dist/

.vitepress/cache/
config/.vitepress/cache/
docs/.vitepress/cache/

.DS_Store
Thumbs.db


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/
*.swp
*.swo
